@import "tailwindcss";

/* Add this to make sure the app takes up the full screen */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #020617; /* Matches slate-950 */
  color: white;
}